RewriteEngine On
RewriteRule ^release-date\.html$ /release-date/ [R=301,L]
RewriteRule ^characters\.html$ /characters/ [R=301,L]
RewriteRule ^crops\.html$ /crops/ [R=301,L]
RewriteRule ^romance\.html$ /romance/ [R=301,L]
RewriteRule ^suspects\.html$ /suspects/ [R=301,L]
RewriteRule ^platforms\.html$ /platforms/ [R=301,L]
RewriteRule ^faq\.html$ /faq/ [R=301,L]
RewriteRule ^about\.html$ /about/ [R=301,L]
RewriteRule ^beginner-guide\.html$ /beginner-guide/ [R=301,L]
RewriteRule ^gifts\.html$ /gifts/ [R=301,L]
RewriteRule ^endings\.html$ /endings/ [R=301,L]
RewriteRule ^guide-index\.html$ /guide-index/ [R=301,L]
RewriteRule ^calendar\.html$ /calendar/ [R=301,L]
RewriteRule ^map\.html$ /map/ [R=301,L]
RewriteRule ^quests\.html$ /quests/ [R=301,L]
RewriteRule ^resources\.html$ /resources/ [R=301,L]
RewriteRule ^achievements\.html$ /achievements/ [R=301,L]
RewriteRule ^investigation\.html$ /investigation/ [R=301,L]
RewriteRule ^killers-and-victims\.html$ /killers-and-victims/ [R=301,L]
RewriteRule ^crafting-and-occult-items\.html$ /crafting-and-occult-items/ [R=301,L]
RewriteRule ^fishing-and-mining\.html$ /fishing-and-mining/ [R=301,L]
RewriteRule ^farm-upgrades\.html$ /farm-upgrades/ [R=301,L]

RewriteRule ^ashenridge\.html$ /ashenridge/ [R=301,L]
RewriteRule ^day-night-cycle\.html$ /day-night-cycle/ [R=301,L]
RewriteRule ^break-ins\.html$ /break-ins/ [R=301,L]
RewriteRule ^victim-protection\.html$ /victim-protection/ [R=301,L]
RewriteRule ^items-database\.html$ /items-database/ [R=301,L]
RewriteRule ^recipes\.html$ /recipes/ [R=301,L]
RewriteRule ^foraging\.html$ /foraging/ [R=301,L]
